*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:300px;
    width:250px;
    background-color: #8aeded;
    display: flex;
    border: 2px solid black ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px;
    padding:10px;
    float: inline-start;
}