/* body{
    background-color: aquamarine;
} */

.box{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: cadetblue;
    /* margin: 20px; */
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}
.box1{
     height: 100px;
    width: 100px;
    border: 1px dotted chocolate;
    background-color:chartreuse;
    color: white;
}